.skillItem {
  @apply relative w-full h-full shadow-md cursor-pointer p-8;
  @apply bg-cover bg-no-repeat bg-center shadow-xl border border-black;
  background-image: url('/sky.png');
  border-image-source: url('/border-frame.png');
  border-image-repeat: stretch;
  border-image-outset: 0;
  border-image-slice: 40;
  border-image-width: 20px;
  border-style: solid;
}

.skillItem > * {
  @apply duration-500;
}

.skillItem:hover > * {
  @apply scale-105;
}

/* https://codepen.io/Huhtamaki/pen/GPzwPY */
/* .skillItemOpened:before, .skillItemOpened:after {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
    #0000ff, #00ff00,#ffff00, #ff0000);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 60s linear infinite;
  @apply rounded-2xl;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.skillItemOpened:after {
  filter: blur(50px);
} */

.skillGifWrapper {
  @apply w-full h-80 shadow-xl p-2 flex justify-center;
}

.skillItem:hover .skillGifWrapper {
  @apply p-0.5 shadow-lg;
}

.skillGif {
  @apply bg-cover bg-center bg-no-repeat w-full h-full;
  background-image: var(--staticBg, '')
}

.skillItem:hover .skillGif {
  background-image: var(--gifBg, '')
}

.skillGifWrapper,
.skillHeadline {
  @apply bg-gradient-to-r from-amber-200 to-amber-500;
}

.skillHeadline {
  @apply text-center uppercase mt-16 bg-clip-text text-transparent;
}
