.categoryAnimate {
  @apply relative w-full h-full shadow-lg cursor-pointer duration-500;
  transform-style: preserve-3d;
}

.categoryAnimate:hover,
.categoryAnimate:hover .categoryLabel,
.categoryAnimate:hover .categoryBtn,
.categoryAnimate:hover .categoryIcon {
  scale: 1.1 !important;
}

.categoryAnimate:nth-child(1) {
  transform: perspective(1500px) rotateY(-30deg);
}

.categoryAnimate:nth-child(2) {
  scale: 1.05;
}

.categoryAnimate:nth-child(3) {
  transform: perspective(1500px) rotateY(30deg);
}

.category {
  @apply absolute w-full h-full flex flex-col items-center justify-center rounded-2xl;
  @apply p-4;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.category.back {
  transform: rotateY(180deg);
}

.categoryLabel,
.categoryBtn,
.categoryIcon {
  @apply duration-500;
}


.categoryLabel {
  @apply uppercase bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500;
  filter: drop-shadow(3px 3px black);
}

.categoryOpened {
  transform: rotateY(180deg) !important;
}

.categoryDesc {
  @apply font-light text-sm text-center;
}

.categoryBtn {
  @apply rounded-lg bg-yellow-300 text-white text-sm font-medium p-3 shadow-md;
}

.categoryBtn:hover {
  @apply bg-yellow-500;
}

.categoryIcon {
  @apply w-32 rounded-full mb-8 shadow-2xl;
}
