.categoryItemAnimate {
  @apply relative w-full h-full shadow-lg cursor-pointer duration-500;
  transform-style: preserve-3d;
}

.categoryItemAnimate:hover {
  transform: rotateY(180deg) !important;
}

.categoryItemAnimate:nth-child(1) {
  transform: perspective(1500px) rotateY(-30deg);
}

.categoryItemAnimate:nth-child(2) {
  scale: 1.1;
}

.categoryItemAnimate:nth-child(3) {
  transform: perspective(1500px) rotateY(30deg);
}

.categoryItem {
  @apply absolute w-full h-full flex flex-col items-center justify-center rounded-2xl;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.categoryItem.back {
  transform: rotateY(180deg);
  @apply bg-white;
}

.categoryItemLabel {
  @apply uppercase bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500;
  filter: drop-shadow(3px 3px black);
}
