.slick-slider,
.slick-list,
.slick-track,
.slick-slide > * {
  @apply w-full h-full;
}

.slick-slide > * {
  @apply px-4;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.bg-day {
  @apply min-h-screen;
  background: #ffac6f;
  background: linear-gradient(
    to bottom,
    #ffac6f 0%,
    #fdc352 33%,
    #fee154 66%,
    #efeebc 100%)
  ;
  /* 12 - 11 - 10 - 9 */
}

.bg-afternoon {
  @apply min-h-screen;
  background: #efeebc;
  background: linear-gradient(
    to bottom,
    #efeebc 0%,
    #74d4cc 33%,
    #12a1c0 66%,
    #07729f 100%
  );
  /* 8 - 7 - 6 - 5 */
}

.bg-evening {
  @apply min-h-screen;
  background: #07729f;
  background: linear-gradient(
    to bottom,
    #07729f 0%,
    #004372 33%,
    #011d34 66%,
    #00182b 100%
  );
  /* 5 - 4 - 3 - 2 */
}

.bg-midnight {
  @apply min-h-screen;
  background: #00182b;
  background: linear-gradient(
    to bottom,
    #00182b 0%,
    #040b3c 33%,
    #012459 66%,
    #233072 100%
  );
  /* 2 - 0 - 22 - 20 */
}
 