.categoryLabel {
  @apply uppercase bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500;
  filter: drop-shadow(0.2rem 0.2rem rgba(0,0,0, 0.5));
}

.categoryDesc {
  @apply text-center my-8;
}

.categoryBtn {
  @apply rounded-lg bg-yellow-300 text-white text-sm font-medium p-3 shadow-md;
}

.categoryBtn:hover {
  @apply bg-yellow-500;
}

.categoryIcon,
.categoryMemoji {
  @apply w-48;
}

.categoryIcon {
  @apply rounded-full mb-8 shadow-lg;
  filter: drop-shadow(0.2rem 0.2rem rgba(0, 0, 0, 0.2))
}

.categoryMemoji {
  filter: drop-shadow(0.25rem 0.25rem rgba(0, 0, 0, 0.5));
}

.categoryMemoji.animated {
  animation: memoji 1s alternate linear infinite;
}

@keyframes memoji {
  to {
    transform: scale(1.2);
  }
}
